.homepage_container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-light);
}

.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow scrolling in main content if needed */
}

.recipes_wrapper {
    padding: 2rem;
    flex: 1;
}