.div {
    width: 10rem; // Should be scaled based on container size and number of columns
    height: 8rem;
    background-color: rgb(128, 255, 198);

    display: flex;
    align-items: center;
    justify-content: center;
}