.header_div {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: var(--primary-color);
}

.recipes_div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}