.main_div {
    padding: 2rem;

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    // grid-auto-rows: 7rem;

    gap: 1rem;
}

.recipe_div {
    // width: 7rem;
    // height: 7rem;
    aspect-ratio: 4 / 3;

    background-color: yellow;
}